.main__our-tours {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 33%, rgba(255, 165, 0, 1) 100%);
}
.main__our-tours-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin: 0 20px;
}
.our-tours__list{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    /* margin: 50px 20px; */
}
.our-tours__card {
    /* width: 360px; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-items: flex-start;
    padding: 10px;
}
.our-tours__card:hover{
    box-sizing: border-box;
    box-shadow: rgba(255, 165, 0, 0.4) 3px 6px 9px 3px;
}
.our-tours__card:hover > .our-tours__card-features-list{
    color:var(--header-banner-color) ;
}
.our-tours__header {
    color: var(--button-bg-color);
}
.our-tours__card-price {
    color: var(--button-bg-color);
    font-weight: 700;
}
.card-features-list__list-title{
    color: var(--header-banner-color);
}
.card-features-list__list-item::before{
    content: "\1F5F8";
    padding-right: 5px;
}
@media (min-width:770px) {
    .our-tours__list{
        grid-template-columns: 1fr 1fr;
        grid-column-gap:20px;
    }
}
@media (min-width:990px) {
    .our-tours__list{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:20px;
    }
}