.main-features__container{
    display: flex;
    flex-direction: column;
    background-color:var(--bgc-our-tours) ;
    padding: 70px 0;
}
.main-features__title{
    align-self: center;
    color: var(--header-banner-color);
    margin-bottom: 28px;
}
.main-features__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin: 0 20px;
}
.main-features__list-item {
    /* max-width: 100%; */
    justify-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.list-item__title {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 700;  
    line-height: 33px; 
    color: var(--header-banner-color);
}
@media (min-width:770px){
    .main-features__list {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
}
@media (min-width:990px){
    .main-features__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
}